﻿@using ScoutSluzba.Web.ViewModels
@model ScoutSluzba.Web.ViewModels.OcjeneiKomentariDodajVM

@{
    ViewData["Title"] = "Dodaj";
}


<div class="content-wrapper p-4">
    <h1 class="text-center"> Edit Comment and Grade: </h1>

    <form asp-action="Snimi">
        <input asp-for="OcjenaKomentarID" hidden />

        <div class="form-group">

            <div>
                @Html.HiddenFor(s => s.OcjenaKomentarID)
            </div>

            <div class="form-group">
                <label>Grade: </label>
                <input asp-for="Ocjena" class="form-control" />
                <span asp-validation-for="Ocjena" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Comment: </label>
                <input asp-for="Komentar" class="form-control" />
                <span asp-validation-for="Komentar" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Employee: </label>
                <select asp-for="ZaposlenikID" asp-items="Model.Zaposlenik" class="form-control"></select>
                <span asp-validation-for="ZaposlenikID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Player: </label>
                <select asp-for="IgracID" asp-items="Model.Igrac" class="form-control"></select>
                <span asp-validation-for="IgracID" class="text-danger"></span>
            </div>

            <a asp-action="Index" asp-controller="OcjeneiKomentari" asp-area="Scout" class="btn btn-outline-info btn-lg"> Back </a>

            <input type="submit" class="btn btn-outline-success btn-lg" value="Save" />
        </div>
    </form>
</div>

