﻿@using ScoutSluzba.Web.ViewModels
@*@using ScoutSluzba.Web.Areas.Scout.ViewModels*@

@{
    string error_poruka = (string)TempData["error_poruka"];
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Scout/Views/Shared/_Layout.cshtml";
}

<h1>Comment and Grade</h1>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Grade</th>
            <th>Comment</th>
            <th>Employee</th>
            <th>Player</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.row)
        {
            <tr>
                <td>@x.Ocjena</td>
                <td>@x.Komentar</td>
                <td>@x.Zaposlenik</td>
                <td>@x.Igrac</td>
                <td>
                    <a asp-action="Obrisi" asp-controller="OcjeneiKomentari" asp-area="Scout" asp-route-id="@x.OcjenaKomentarID" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>

                    <a asp-action="Uredi" asp-controller="OcjeneiKomentari" asp-area="Scout" asp-route-id="@x.OcjenaKomentarID" class="btn btn-outline-info btn-sm"><i class="fa fa-pen"></i></a>
                </td>
            </tr>

        }
    </tbody>
</table>

<a asp-action="Dodaj" asp-controller="OcjeneiKomentari" asp-area="Scout" class="btn btn-outline-success btn-lg"> Add Comment and Grade </a>


@if (error_poruka != null)
{
    <br />
    <div class="alert alert-danger" role="alert">
        <strong>@error_poruka</strong>
    </div>
}