﻿@model ScoutSluzba.Web.ViewModels.OcjeneiKomentariUrediVM
@using ScoutSluzba.Web.ViewModels;
@using ScoutSluzba.Data.EntityModels;


@{
    ViewData["Title"] = "Uredi";
}


<div class="content-wrapper p-4">
    <h1 class="display-4">Edit Grade and Comment</h1>

    <form asp-action="Snimi">
        <input asp-for="OcjenaKomentarID" hidden />

        <div class="form-group">

            <div class="form-group">
                <label>Grade</label>
                <input asp-for="Ocjena" class="form-control" readonly />
                <span asp-validation-for="Ocjena" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Comment</label>
                <input asp-for="Komentar" class="form-control" readonly />
                <span asp-validation-for="Komentar" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>Employee </label>
                <input asp-for="Zaposlenik" class="form-control" readonly />
                <span asp-validation-for="Zaposlenik" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Player </label>
                <input asp-for="Igrac" class="form-control" readonly />
                <span asp-validation-for="Igrac" class="text-danger"></span>
            </div>

            <a asp-action="Index" asp-controller="OcjeneiKomentari" asp-area="Scout" class="btn btn-outline-info btn-lg"> Back </a>

           @* <input type="submit" class="btn btn-success btn-lg" value="Snimi" />*@

        </div>
    </form>
</div>



