﻿@using ScoutSluzba.Web.ViewModels
@model ScoutSluzba.Web.ViewModels.DrzavaDodajVM

@{
    ViewData["Title"] = "Dodaj";
}


<div class="content-wrapper p-4">
    <h1 class="text-center"> Add Country: </h1>

    <form asp-action="Snimi">
        <input asp-for="DrzavaID" hidden />

        <div class="form-group">

            <div>
                @Html.HiddenFor(s => s.DrzavaID)
            </div>

            <div class="form-group">
                <label>Name: </label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Mark: </label>
                <input asp-for="Oznaka" class="form-control" />
                <span asp-validation-for="Oznaka" class="text-danger"></span>
            </div>

            <a asp-action="Index" asp-controller="Drzava" asp-area="Scout" class="btn btn-outline-info btn-lg"> Back </a>

            <input type="submit" class="btn btn-outline-success btn-lg" value="Save" />
        </div>
    </form>
</div>
