﻿@using ScoutSluzba.Web.ViewModels
@*@using ScoutSluzba.Web.Areas.Scout.ViewModels*@

@{
    string error_poruka = (string)TempData["error_poruka"];
    ViewData["Title"] = "Index";
}

<h1>Country</h1>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Mark</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td>@x.Naziv</td>
                <td>@x.Oznaka</td>
                <td>
                    <a asp-action="Obrisi" asp-controller="Drzava" asp-area="Scout" asp-route-id="@x.DrzavaID" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>

                    <a asp-action="Uredi" asp-controller="Drzava" asp-area="Scout" asp-route-id="@x.DrzavaID" class="btn btn-outline-primary btn-sm"><i class="fa fa-pen"></i></a>
                </td>
            </tr>

        }
    </tbody>
</table>

<a asp-action="Dodaj" asp-controller="Drzava" asp-area="Scout" class="btn btn-outline-success btn-lg"> Add Country </a>

@if (error_poruka != null)
{
    <br />
    <div class="alert alert-danger" role="alert">
        <strong>@error_poruka</strong>
    </div>
}