﻿@model ScoutSluzba.Web.ViewModels.DrzavaUrediVM
@using ScoutSluzba.Web.ViewModels;
@using ScoutSluzba.Data.EntityModels;


@{
    ViewData["Title"] = "Uredi";
}

<div class="content-wrapper p-4">
    <h1 class="display-4">Details Country</h1>

    <form asp-action="Snimi">
        <input asp-for="DrzavaID" hidden />

        <div class="form-group">

            <div class="form-group">
                <label>Name</label>
                <input asp-for="Naziv" class="form-control" readonly />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Mark</label>
                <input asp-for="Oznaka" class="form-control" readonly />
                <span asp-validation-for="Oznaka" class="text-danger"></span>
            </div>

            <a asp-action="Index" asp-controller="Drzava" asp-area="Scout" class="btn btn-outline-info btn-lg"> Back </a>

         @*   <input type="submit" class="btn btn-success btn-lg" value="Snimi" />*@

        </div>
    </form>
</div>



