﻿@*@using EntityModels.Models
    @using SeminarskiMobiteli.Helper*@
@using Microsoft.AspNetCore.Http
@using ScoutSluzba.Data.EntityModels
@using Prodaja_Softvera_ver3.Web.Helper
@{
    KorisnickiNalog user = Context.GetLogiraniKorisnik();
}


@*@{ KorisnickiNalog user = Context.GetLogiraniKorisnik(); }*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -SeminarskiMobiteli</title>
    <!-- Custom fonts for this template-->

    <link href="~/Template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Template/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">


    <div>
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar ICON -->
                <li>
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fas fa-grin"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3">Scout</div>
                    </a>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider my-0">
                </li>

                
                   @if (user?.TipKorisnickogNaloga != null)
                   {
                        <!-- Logirani Korisnik -->
                        <li class="nav-item active">
                            <a class="nav-link collapsed text-center">@user?.KorisnickoIme</a>
                        </li>

                        <!-- Divider -->
                        <li>
                            <hr class="sidebar-divider">
                        </li>

                   }

                <!-- HOME -->
                <li class="nav-item active">
                    <a class="nav-link collapsed text-center" asp-area="" asp-controller="Home" asp-action="Index">⯇ Home</a>
                </li>

                <!-- Divider -->
                <li>
                    <hr class="sidebar-divider">
                </li>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <span>
                        <a class="nav-link collapsed text-center" asp-area="Scout" asp-controller="Drzava" asp-action="Index">Country</a>
                    </span>
                </li>
                <li class="nav-item">
                    <span>
                        <a class="nav-link collapsed text-center" asp-area="Scout" asp-controller="Grad" asp-action="Index">City</a>
                    </span>
                </li>
                <li class="nav-item">
                    <span>
                        <a class="nav-link collapsed text-center" asp-area="Scout" asp-controller="Lokacija" asp-action="Index">Location</a>
                    </span>
                </li>
                <li class="nav-item">
                    <span>
                        <a class="nav-link collapsed text-center" asp-area="Scout" asp-controller="OcjeneiKomentari" asp-action="Index">Grade and Comment</a>
                    </span>
                </li>

                <!-- Profil -->
                <li>
                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">
                    <!-- Heading -->
                    <div class="sidebar-heading text-center">
                        Profil
                    </div>
                </li>

                <!-- Opcije -->
                <li class="nav-item">
                    <a class="nav-link collapsed text-center" asp-area="Scout" asp-controller="Options" asp-action="Index" asp-route-id="2">Options</a>
                </li>

                <!-- Logout -->
                <li class="nav-item">
                    <a class="nav-link collapsed text-center" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                </li>

                <!-- Sidebar Toggler (Sidebar) -->
                <li>
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" style="margin-left:40%" id="sidebarToggle"></button>
                    </div>
                </li>


            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->

            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar bg-gradient-primary navbar-light sidebar-dark topbar mb-4 static-top shadow">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- Generate Report -->
                        <div>
                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                        </div>

                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        @*<div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                            </div>*@

                        <!-- Content Row -->
                        <div class="row">
                            @RenderBody()
                        </div>

                    </div>
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ScoutSluzba.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>




    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Bootstrap core JavaScript-->

    <script src="~/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Template/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->

    <script src="~/Template/js/sb-admin-2.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>


