﻿@using Microsoft.AspNetCore.Http
@using ScoutSluzba.Data.EntityModels
@using Prodaja_Softvera_ver3.Web.Helper
@{
    KorisnickiNalog user = Context.GetLogiraniKorisnik();
}


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@



<!-- ====== Hero Section Start -->
<div id="home">
    <div class="container">
        <div class="flex flex-wrap items-center -mx-4">
            <div class="HeadlineContent">
                <div class="w-full px-4">
                    <div class="hero-content text-center max-w-[780px] mx-auto wow fadeInUp " data-wow-delay=".2s">
                        <h1 class="text-white font-bold text-3xl sm:text-4xl md:text-[45px] leading-snug sm:leading-snug md:leading-snug mb-8 ">
                            Scout Service - Web application for tracking football games, and More
                        </h1>
                        <p class="text-base sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed mx-auto mb-10 text-[#e4e4e4] max-w-[600px]">
                            Everything you need to know about football.
                        </p>

                        @if (user?.TipKorisnickogNaloga == null)
                        {
                            <ul class="flex flex-wrap items-center justify-center mb-10">
                                <li>
                                    <a asp-area="" asp-controller="Login" asp-action="Index" class="py-4 px-6 sm:px-10 inline-flex items-center justify-center text-center text-dark text-base bg-white hover:text-primary hover:shadow-lg font-medium rounded-lg transition duration-300 ease-in-out ">Login Now</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="SingIn" asp-action="Index" target="_blank" class="text-base font-medium text-white py-4 px-6 sm:px-10 flex items-center hover:opacity-70 transition duration-300 ease-in-out ">
                                        Sing in <span class="pl-2">
                                            <svg width="20" height="8" viewBox="0 0 20 8" class="fill-current">
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====== Hero Section End -->
<!-- ====== Features Section Start -->
<div class="featureSection">
    <section class="pt-20 lg:pt-[120px] pb-8 lg:pb-[70px]">
        <div class="container">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full px-4" style="display: flex; justify-content: center;">
                    <div class="ballRotate" style="margin-right: 50px">
                        <img img src="~/football_rotation.gif" alt="logo" style="width:55px;height:55px;" class="max-w-full" />
                    </div>
                    <div class="mb-12 lg:mb-20 max-w-[620px]">
                        @*<br /><br /><br />*@
                        <span class="font-semibold text-lg text-primary mb-2 block text-center">
                            Features
                        </span>
                        <h2 class="font-bold text-3xl sm:text-4xl md:text-[42px] text-dark mb-4 text-center">
                            Main Features Of Scout Service
                        </h2>
                        <p class="text-lg sm:text-xl leading-relaxed sm:leading-relaxed text-body-color">
                            Scout Service is main and the only site for daily information in the world of football.
                            Everything you need to know you will find here.

                        </p>
                    </div>
                    <div class="ballRotate" style="margin-right: 50px ">
                        <img img src="~/football_rotation.gif" alt="logo" style="width:55px;height:55px;" class="max-w-full" />
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 lg:w-1/4 px-4">
                    <div class="bg-white mb-12 group wow fadeInUp" data-wow-delay=".1s">
                        <div class="w-[70px] h-[70px] flex items-center justify-center bg-primary rounded-2xl mb-8 relative z-10 " style="left:50%; transform:translateX(-50%);">
                            <span class="w-[70px] h-[70px] flex items-center justify-center bg-primary bg-opacity-20 rounded-2xl mb-8 absolute z-[-1] top-0 left-0 rotate-[25deg] group-hover:rotate-45 duration-300 "></span>
                            <svg width="35" height="35" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M44.9313 11.7H38.9188C40.5438 10.9687 41.7626 9.99374 42.2501 8.69374C42.9001 6.98749 42.2501 5.19999 40.3001 3.33124C38.1876 1.29999 35.9938 0.568738 33.8001 1.13749C29.9813 2.11249 27.4626 7.06874 26.2438 9.99374C25.1063 7.06874 22.5876 2.11249 18.6876 1.13749C16.4938 0.568738 14.3001 1.29999 12.1876 3.33124C10.2376 5.19999 9.5876 6.98749 10.2376 8.69374C10.7251 9.99374 12.0251 10.9687 13.5688 11.7H7.06885C5.0376 11.7 3.4126 13.325 3.4126 15.3562V21.5312C3.4126 23.5625 5.0376 25.1875 7.06885 25.1875H7.71885V46.2312C7.71885 48.8312 9.83135 51.025 12.5126 51.025H40.1376C42.7376 51.025 44.9313 48.9125 44.9313 46.2312V25.1875C46.9626 25.1875 48.5876 23.5625 48.5876 21.5312V15.3562C48.5063 13.325 46.8813 11.7 44.9313 11.7ZM34.5313 3.98124C34.7751 3.89999 35.0188 3.89999 35.1813 3.89999C36.1563 3.89999 37.2126 4.38749 38.2688 5.52499C38.7563 6.01249 39.8126 7.06874 39.5688 7.79999C39.0001 9.34374 33.9626 10.6437 28.9251 11.05C30.0626 8.36874 32.1751 4.54999 34.5313 3.98124ZM13.0001 7.71874C12.7563 6.98749 13.8126 5.93124 14.3001 5.44374C15.4376 4.38749 16.4126 3.81874 17.3876 3.81874C17.6313 3.81874 17.8751 3.81874 18.0376 3.89999C20.4751 4.54999 22.5063 8.28749 23.6438 10.9687C18.6063 10.5625 13.5688 9.26249 13.0001 7.71874ZM42.0063 46.2312C42.0063 47.2875 41.1126 48.1812 40.0563 48.1812H12.4313C11.3751 48.1812 10.4813 47.2875 10.4813 46.2312V25.1875H41.9251V46.2312H42.0063ZM45.6626 21.5312C45.6626 22.0187 45.3376 22.3437 44.8501 22.3437H7.06885C6.6626 22.3437 6.25635 22.0187 6.25635 21.5312V15.3562C6.25635 14.95 6.6626 14.5437 7.06885 14.5437H44.8501C45.2563 14.5437 45.6626 14.8687 45.6626 15.3562V21.5312Z"
                                      fill="white" />
                            </svg>
                        </div>
                        <h4 class="font-bold text-xl text-dark mb-3 text-center">
                            Free and Open-Source Gaming Match
                        </h4>
                        <p class="text-body-color mb-8 lg:mb-11 text-center">
                            Everything you need to know about games.
                        </p>

                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-4">
                    <div class="bg-white mb-12 group wow fadeInUp"
                         data-wow-delay=".15s">
                        <div class="w-[70px] h-[70px] flex items-center justify-center bg-primary rounded-2xl mb-8 relative z-10 " style="left:50%; transform:translateX(-50%);">
                            <span class="w-[70px] h-[70px] flex items-center justify-center bg-primary bg-opacity-20 rounded-2xl mb-8 absolute z-[-1] top-0 left-0 rotate-[25deg] group-hover:rotate-45 duration-300 "></span>
                            <svg width="35" height="35" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M49.8062 23.3187L43.875 17.3875C43.3063 16.8187 42.4125 16.8187 41.8438 17.3875C41.275 17.9562 41.275 18.85 41.8438 19.4187L46.9625 24.6187H27.4625V4.87498L32.5812 10.075C33.15 10.6437 34.0437 10.6437 34.6125 10.075C35.1812 9.50623 35.1812 8.61248 34.6125 8.04373L28.6812 2.11248C27.95 1.38123 26.975 0.974976 26 0.974976C24.9438 0.974976 24.05 1.38123 23.3188 2.11248L17.3875 8.04373C16.8187 8.61248 16.8187 9.50623 17.3875 10.075C17.6312 10.3187 18.0375 10.4812 18.3625 10.4812C18.6875 10.4812 19.0937 10.3187 19.3375 10.075L24.6187 4.87498V24.5375H4.95625L10.075 19.3375C10.6437 18.7687 10.6437 17.875 10.075 17.3062C9.50625 16.7375 8.6125 16.7375 8.04375 17.3062L2.1125 23.2375C0.65 24.7 0.65 27.1375 2.1125 28.6L8.04375 34.5312C8.2875 34.775 8.69375 34.9375 9.01875 34.9375C9.34375 34.9375 9.75 34.775 9.99375 34.5312C10.5625 33.9625 10.5625 33.0687 9.99375 32.5L4.79375 27.3H24.4563V47.125L19.2563 41.925C18.6875 41.3562 17.7938 41.3562 17.225 41.925C16.6563 42.4937 16.6563 43.3875 17.225 43.9562L23.1562 49.8875C23.8875 50.6187 24.8625 51.025 25.8375 51.025C26.8937 51.025 27.7875 50.6187 28.5187 49.8875L34.45 43.9562C35.0188 43.3875 35.0188 42.4937 34.45 41.925C33.8813 41.3562 32.9875 41.3562 32.4188 41.925L27.4625 47.125V27.3812H47.0438L41.8438 32.5812C41.275 33.15 41.275 34.0437 41.8438 34.6125C42.0875 34.8562 42.4938 35.0187 42.8188 35.0187C43.1438 35.0187 43.55 34.8562 43.7938 34.6125L49.725 28.6812C51.2688 27.2187 51.2687 24.7812 49.8062 23.3187Z"
                                      fill="white" />
                            </svg>
                        </div>
                        <h4 class="font-bold text-xl text-dark mb-3 text-center">
                            Multipurpose Information
                        </h4>
                        <p class="text-body-color mb-8 lg:mb-11 text-center">
                            Lorem Ipsum is simply dummy text of the printing and industry.
                        </p>

                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-4">
                    <div class="bg-white mb-12 group wow fadeInUp" data-wow-delay=".2s">
                        <div class="w-[70px] h-[70px] flex items-center justify-center bg-primary rounded-2xl mb-8 relative z-10 " style="left:50%; transform:translateX(-50%);">
                            <span class="w-[70px] h-[70px] flex items-center justify-center bg-primary bg-opacity-20 rounded-2xl mb-8 absolute z-[-1] top-0 left-0 rotate-[25deg] group-hover:rotate-45 duration-300 "></span>
                            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.7734 14.3281H3.82813C2.07813 14.3281 0.65625 12.9062 0.65625 11.1562V4.21094C0.65625 2.46094 2.07813 1.03906 3.82813 1.03906H10.7734C12.5234 1.03906 13.9453 2.46094 13.9453 4.21094V11.1562C13.9453 12.9062 12.5234 14.3281 10.7734 14.3281ZM3.82813 2.95312C3.17188 2.95312 2.57031 3.5 2.57031 4.21094V11.1562C2.57031 11.8125 3.11719 12.4141 3.82813 12.4141H10.7734C11.4297 12.4141 12.0313 11.8672 12.0313 11.1562V4.21094C12.0313 3.55469 11.4844 2.95312 10.7734 2.95312H3.82813Z"
                                      fill="white" />
                                <path d="M31.1719 14.3281H24.2266C22.4766 14.3281 21.0547 12.9062 21.0547 11.1562V4.21094C21.0547 2.46094 22.4766 1.03906 24.2266 1.03906H31.1719C32.9219 1.03906 34.3438 2.46094 34.3438 4.21094V11.1562C34.3438 12.9062 32.9219 14.3281 31.1719 14.3281ZM24.2266 2.95312C23.5703 2.95312 22.9688 3.5 22.9688 4.21094V11.1562C22.9688 11.8125 23.5156 12.4141 24.2266 12.4141H31.1719C31.8281 12.4141 32.4297 11.8672 32.4297 11.1562V4.21094C32.4297 3.55469 31.8828 2.95312 31.1719 2.95312H24.2266Z"
                                      fill="white" />
                                <path d="M10.7734 33.9609H3.82813C2.07813 33.9609 0.65625 32.5391 0.65625 30.7891V23.8438C0.65625 22.0938 2.07813 20.6719 3.82813 20.6719H10.7734C12.5234 20.6719 13.9453 22.0938 13.9453 23.8438V30.7891C13.9453 32.5391 12.5234 33.9609 10.7734 33.9609ZM3.82813 22.5859C3.17188 22.5859 2.57031 23.1328 2.57031 23.8438V30.7891C2.57031 31.4453 3.11719 32.0469 3.82813 32.0469H10.7734C11.4297 32.0469 12.0313 31.5 12.0313 30.7891V23.8438C12.0313 23.1875 11.4844 22.5859 10.7734 22.5859H3.82813Z"
                                      fill="white" />
                                <path d="M31.1719 33.9609H24.2266C22.4766 33.9609 21.0547 32.5391 21.0547 30.7891V23.8438C21.0547 22.0938 22.4766 20.6719 24.2266 20.6719H31.1719C32.9219 20.6719 34.3438 22.0938 34.3438 23.8438V30.7891C34.3438 32.5391 32.9219 33.9609 31.1719 33.9609ZM24.2266 22.5859C23.5703 22.5859 22.9688 23.1328 22.9688 23.8438V30.7891C22.9688 31.4453 23.5156 32.0469 24.2266 32.0469H31.1719C31.8281 32.0469 32.4297 31.5 32.4297 30.7891V23.8438C32.4297 23.1875 31.8828 22.5859 31.1719 22.5859H24.2266Z"
                                      fill="white" />
                            </svg>
                        </div>
                        <h4 class="font-bold text-xl text-dark mb-3 text-center">
                            Full football team tactics board
                        </h4>
                        <p class="text-body-color mb-8 lg:mb-11 text-center">
                            Every football team tactics play and analytics.
                        </p>

                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-4">
                    <div class="bg-white mb-12 group wow fadeInUp"
                         data-wow-delay=".25s">
                        <div class="w-[70px] h-[70px] flex items-center justify-center bg-primary rounded-2xl mb-8 relative z-10 " style="left:50%; transform:translateX(-50%);">
                            <span class="w-[70px] h-[70px] flex items-center justify-center bg-primary bg-opacity-20 rounded-2xl mb-8 absolute z-[-1] top-0 left-0 rotate-[25deg] group-hover:rotate-45 duration-300 "></span>
                            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M29.5312 21.6562L28.6563 21.1641L29.6953 20.5625C30.7344 19.9062 31.3359 18.8125 31.2812 17.6094C31.2266 16.4063 30.625 15.3125 29.5312 14.7109L27.8906 13.7813L29.6406 12.6875C30.6797 12.0313 31.2812 10.9375 31.2266 9.73438C31.1719 8.53125 30.5703 7.4375 29.4766 6.83594L19.25 1.09375C18.2109 0.492187 16.9531 0.546875 15.9141 1.09375L5.41406 7.21875C4.375 7.82031 3.71875 8.91406 3.71875 10.1172C3.71875 11.3203 4.375 12.4141 5.41406 13.0156L7.10938 14L5.41406 14.9844C4.375 15.5859 3.71875 16.6797 3.71875 17.8828C3.71875 19.0859 4.32031 20.1797 5.41406 20.7812L6.39844 21.3281L5.46875 21.875C4.42969 22.4766 3.77344 23.5703 3.77344 24.7734C3.77344 25.9766 4.375 27.0703 5.46875 27.6719L15.9141 33.6875C16.4609 34.0156 17.0078 34.125 17.6094 34.125C18.2109 34.125 18.8125 33.9609 19.3594 33.6328L29.6953 27.2891C30.7344 26.6328 31.3359 25.5391 31.2812 24.3359C31.2266 23.2969 30.625 22.2031 29.5312 21.6562ZM5.63281 10.1172C5.63281 9.57031 5.90625 9.13281 6.34375 8.85938L16.8438 2.78906C17.0625 2.67969 17.3359 2.57031 17.5547 2.57031C17.7734 2.57031 18.0469 2.625 18.2656 2.73437L28.5469 8.47656C28.9844 8.75 29.2578 9.1875 29.3125 9.73438C29.3125 10.2812 29.0391 10.7188 28.6016 10.9922L18.3203 17.3906C17.8828 17.6641 17.2812 17.6641 16.8438 17.3906L6.39844 11.375C5.90625 11.1562 5.63281 10.6641 5.63281 10.1172ZM5.63281 17.9375C5.63281 17.3906 5.90625 16.9531 6.34375 16.6797L9.02344 15.1484L15.8594 19.0859C16.4062 19.4141 16.9531 19.5234 17.5547 19.5234C18.1562 19.5234 18.7578 19.3594 19.3047 19.0312L26.0312 14.875L28.6016 16.2969C29.0391 16.5703 29.3125 17.0078 29.3672 17.5547C29.3672 18.1016 29.0938 18.5391 28.6563 18.8125L18.3203 25.2656C17.8828 25.5391 17.2812 25.5391 16.8438 25.2656L6.39844 19.25C5.90625 18.9766 5.63281 18.4844 5.63281 17.9375ZM28.6563 25.8125L18.3203 32.2109C17.8828 32.4844 17.2812 32.4844 16.8438 32.2109L6.39844 26.1953C5.96094 25.9219 5.6875 25.4844 5.6875 24.9375C5.6875 24.3906 5.96094 23.9531 6.39844 23.6797L8.3125 22.5859L15.8594 26.9609C16.4062 27.2891 16.9531 27.3984 17.5547 27.3984C18.1562 27.3984 18.7578 27.2344 19.3047 26.9062L26.7969 22.2578L28.6563 23.2969C29.0938 23.5703 29.3672 24.0078 29.4219 24.5547C29.3672 25.0469 29.0938 25.5391 28.6563 25.8125Z"
                                      fill="white" />
                            </svg>
                        </div>
                        <h4 class="font-bold text-xl text-dark mb-3 text-center">
                            All Essential Elements
                        </h4>
                        <p class="text-body-color mb-8 lg:mb-11 text-center">
                            Corners, red-card, yellow-card, goal shoots and more.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- ====== Features Section End -->
<!-- ====== About Section Start -->
<section id="about" class="pt-20 lg:pt-[120px] pb-20 lg:pb-[120px] bg-[#f3f4fe]">
    <div class="container">
        <div class="bg-white wow fadeInUp" data-wow-delay=".2s">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full px-4">
                    <div class="lg:flex items-center justify-between border overflow-hidden">
                        <div class="lg:max-w-[565px] xl:max-w-[640px] w-full py-12 px-7 sm:px-12 md:p-16 lg:py-9 lg:px-16 xl:p-[70px]">
                            <span class="text-sm font-medium text-white py-2 px-5 bg-primary inline-block mb-5">
                                About Us
                            </span>
                            <h2 class="font-bold text-3xl sm:text-4xl 2xl:text-[40px] sm:leading-snug text-dark mb-6">
                                Brilliant Site Service to Build get to the information Faster.
                            </h2>
                            <p class="text-base text-body-color mb-9 leading-relaxed">
                                The main ‘thrust' is to focus on educating attendees on how
                                to best protect highly vulnerable business applications with
                                interactive panel discussions and roundtables led by subject
                                matter experts.
                            </p>
                            <p class="text-base text-body-color mb-9 leading-relaxed">
                                Football Scout Service is the best Scout Service on the web.
                                Every information and every content about football or more, you can found here.
                            </p>
                            <a href="javascript:void(0)"
                               class="inline-flex items-center justify-center py-4 px-6 rounded text-white bg-primary text-base font-medium hover:bg-opacity-90 hover:shadow-lg transition duration-300 ease-in-out">Sing in</a>
                        </div>
                        <div class="text-center">
                            <div class="relative inline-block z-10">
                                <img src="~/about-image.svg" alt="image" class="mx-auto lg:ml-auto" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== About Section End -->
<!-- ====== Pricing Section Start -->
<section id="pricing" class="bg-white pt-20 lg:pt-[120px] pb-12 lg:pb-[90px] relative z-20 overflow-hidden">
    <div class="container">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full px-4">
                <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[620px]">
                    <span class="font-semibold text-lg text-primary mb-2 block">Pricing Table</span>
                    <h2 class="font-bold text-3xl sm:text-4xl md:text-[40px] text-dark mb-4">Our Pricing Plan</h2>
                    <p class="text-lg sm:text-xl leading-relaxed sm:leading-relaxed text-body-color ">
                        There are many variations of passages of Lorem Ipsum available
                        but the majority have suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap items-center justify-center">
            <div class="w-full md:w-1/2 lg:w-1/3">
                <div class="bg-white rounded-xl relative z-10 overflow-hidden border border-primary border-opacity-20 shadow-pricing py-10 px-8 sm:p-12 lg:py-10 lg:px-6 xl:p-12 mb-10 text-center wow fadeInUp" data-wow-delay=".15s">
                    <span class="text-dark font-medium text-base uppercase block mb-2">STARTING FROM</span>
                    <h2 class="font-semibold text-primary mb-9 text-[28px]">$ 19.99/mo</h2>

                    <div class="mb-10">
                        <p class="text-base font-medium text-body-color leading-loose mb-1">1 User</p>
                        <p class="text-base font-medium text-body-color leading-loose mb-1">All UI components</p>
                        <p class="text-base font-medium text-body-color leading-loose mb-1">Lifetime access</p>
                        <p class="text-base font-medium text-body-color leading-loose mb-1">Free updates</p>
                        <p class="text-base font-medium text-body-color leading-loose mb-1">Use on 1 (one) project</p>
                        <p class="text-base font-medium text-body-color leading-loose mb-1">3 Months support</p>
                    </div>
                    <div class="w-full">
                        <a href="javascript:void(0)"
                           class="inline-block text-base font-medium text-primary bg-transparent border border-[#D4DEFF] rounded-full text-center py-4 px-11 hover:text-white hover:bg-primary hover:border-primary transition duration-300 ease-in-out">Purchase Now</a>
                    </div>
                    <span class="absolute left-0 bottom-0 z-[-1] w-14 h-14 rounded-tr-full block bg-primary">
                    </span>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3">
                <div class="bg-primary bg-gradient-to-b from-primary to-[#179BEE] rounded-xl relative z-10 overflow-hidden shadow-pricing py-10 px-8 sm:p-12 lg:py-10 lg:px-6 xl:p-12 mb-10 text-center wow fadeInUp" data-wow-delay=".1s">
                    <span class="inline-block py-2 px-6 border border-white rounded-full text-base font-semibold text-primary bg-white uppercase mb-5">POPULAR</span>
                    <span class="text-white font-medium text-base uppercase block mb-2">STARTING FROM</span>
                    <h2 class="font-semibold text-white mb-9 text-[28px]">$ 19.99/mo</h2>

                    <div class="mb-10">
                        <p class="text-base font-medium text-white leading-loose mb-1">5 User</p>
                        <p class="text-base font-medium text-white leading-loose mb-1">All UI components</p>
                        <p class="text-base font-medium text-white leading-loose mb-1">Lifetime access</p>
                        <p class="text-base font-medium text-white leading-loose mb-1">Free updates</p>
                        <p class="text-base font-medium text-white leading-loose mb-1">Use on 1 (one) project</p>
                        <p class="text-base font-medium text-white leading-loose mb-1">4 Months support</p>
                    </div>
                    <div class="w-full">
                        <a href="javascript:void(0)"
                           class="inline-block text-base font-medium text-dark bg-white border border-white rounded-full text-center py-4 px-11 hover:text-white hover:bg-dark hover:border-dark transition duration-300 ease-in-out">Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3">
                <div class="bg-white rounded-xl relative z-10 overflow-hidden border border-primary border-opacity-20 shadow-pricing py-10 px-8 sm:p-12 lg:py-10 lg:px-6 xl:p-12 mb-10 text-center wow fadeInUp" data-wow-delay=".15s">
                    <span class="text-dark font-medium text-base uppercase block mb-2">STARTING FROM</span>
                    <h2 class="font-semibold text-primary mb-9 text-[28px]">$ 70.99/mo</h2>

                    <div class="mb-10">
                        <p class="text-base font-medium text-body-color leading-loose mb-1">1 User</p>
                        <p class="text-base font-medium text-body-color leading-loose mb-1">All UI components</p>
                        <p class="text-base font-medium text-body-color leading-loose mb-1">Lifetime access</p>
                        <p class="text-base font-medium text-body-color leading-loose mb-1">Free updates</p>
                        <p class="text-base font-medium text-body-color leading-loose mb-1">Use on unlimited project</p>
                        <p class="text-base font-medium text-body-color leading-loose mb-1">4 Months support</p>
                    </div>
                    <div class="w-full">
                        <a href="javascript:void(0)"
                           class="inline-block text-base font-medium text-primary bg-transparent border border-[#D4DEFF] rounded-full text-center py-4 px-11 hover:text-white hover:bg-primary hover:border-primary transition duration-300 ease-in-out">Purchase Now</a>
                    </div>

                    <span class="absolute right-0 top-0 z-[-1] w-14 h-14 rounded-bl-full block bg-secondary">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Pricing Section End -->
<!-- ====== Contact Start ====== -->
<section id="contact" class="py-20 md:py-[120px] relative">
    <div class="absolute z-[-1] w-full h-1/2 lg:h-[45%] xl:h-1/2 bg-[#f3f4fe] top-0 left-0"></div>
    <div class="container px-4">
        <div class="flex flex-wrap items-center -mx-4">
            <div class="px-4 w-full lg:w-7/12 xl:w-8/12">
                <div class="ud-contact-content-wrapper">
                    <div class="ud-contact-title mb-12 lg:mb-[150px]">
                        <span class="text-dark font-semibold text-base mb-5">
                            CONTACT US
                        </span>
                        <h2 class="text-[35px] font-semibold">
                            Let's talk about <br />
                            Love to hear from you!
                        </h2>
                    </div>
                    <div class="flex flex-wrap justify-between mb-12 lg:mb-0">
                        <div class="flex max-w-full w-[330px] mb-8">
                            <div class="text-[32px] text-primary mr-6">
                                <svg width="29"
                                     height="35"
                                     viewBox="0 0 29 35"
                                     class="fill-current">
                                    <path d="M14.5 0.710938C6.89844 0.710938 0.664062 6.72656 0.664062 14.0547C0.664062 19.9062 9.03125 29.5859 12.6406 33.5234C13.1328 34.0703 13.7891 34.3437 14.5 34.3437C15.2109 34.3437 15.8672 34.0703 16.3594 33.5234C19.9688 29.6406 28.3359 19.9062 28.3359 14.0547C28.3359 6.67188 22.1016 0.710938 14.5 0.710938ZM14.9375 32.2109C14.6641 32.4844 14.2812 32.4844 14.0625 32.2109C11.3828 29.3125 2.57812 19.3594 2.57812 14.0547C2.57812 7.71094 7.9375 2.625 14.5 2.625C21.0625 2.625 26.4219 7.76562 26.4219 14.0547C26.4219 19.3594 17.6172 29.2578 14.9375 32.2109Z" />
                                    <path d="M14.5 8.58594C11.2734 8.58594 8.59375 11.2109 8.59375 14.4922C8.59375 17.7188 11.2187 20.3984 14.5 20.3984C17.7812 20.3984 20.4062 17.7734 20.4062 14.4922C20.4062 11.2109 17.7266 8.58594 14.5 8.58594ZM14.5 18.4297C12.3125 18.4297 10.5078 16.625 10.5078 14.4375C10.5078 12.25 12.3125 10.4453 14.5 10.4453C16.6875 10.4453 18.4922 12.25 18.4922 14.4375C18.4922 16.625 16.6875 18.4297 14.5 18.4297Z" />
                                </svg>
                            </div>
                            <div>
                                <h5 class="text-lg font-semibold mb-6">Our Location</h5>
                                <p class="text-base text-body-color">
                                    401 Broadway, 24th Floor, Orchard Cloud View, London
                                </p>
                            </div>
                        </div>
                        <div class="flex max-w-full w-[330px] mb-8">
                            <div class="text-[32px] text-primary mr-6">
                                <svg width="34"
                                     height="25"
                                     viewBox="0 0 34 25"
                                     class="fill-current">
                                    <path d="M30.5156 0.960938H3.17188C1.42188 0.960938 0 2.38281 0 4.13281V20.9219C0 22.6719 1.42188 24.0938 3.17188 24.0938H30.5156C32.2656 24.0938 33.6875 22.6719 33.6875 20.9219V4.13281C33.6875 2.38281 32.2656 0.960938 30.5156 0.960938ZM30.5156 2.875C30.7891 2.875 31.0078 2.92969 31.2266 3.09375L17.6094 11.3516C17.1172 11.625 16.5703 11.625 16.0781 11.3516L2.46094 3.09375C2.67969 2.98438 2.89844 2.875 3.17188 2.875H30.5156ZM30.5156 22.125H3.17188C2.51562 22.125 1.91406 21.5781 1.91406 20.8672V5.00781L15.0391 12.9922C15.5859 13.3203 16.1875 13.4844 16.7891 13.4844C17.3906 13.4844 17.9922 13.3203 18.5391 12.9922L31.6641 5.00781V20.8672C31.7734 21.5781 31.1719 22.125 30.5156 22.125Z" />
                                </svg>
                            </div>
                            <div>
                                <h5 class="text-lg font-semibold mb-6">How Can We Help?</h5>
                                <p class="text-base text-body-color">ScoutService@hotmail.com</p>
                                <p class="text-base text-body-color">
                                    ScoutService@hotmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4 w-full lg:w-5/12 xl:w-4/12">
                <div class="shadow-testimonial rounded-lg bg-white py-10 px-8 md:p-[60px] lg:p-10 2xl:p-[60px] sm:py-12 sm:px-10 lg:py-12 lg:px-10 wow fadeInUp" data-wow-delay=".2s">
                    <h3 class="font-semibold mb-8 text-2xl md:text-[26px]">
                        Send us a Message
                    </h3>
                    <form>
                        <div class="mb-6">
                            <label for="fullName" class="block text-xs text-dark">Full Name*</label>
                            <input type="text" name="fullName" placeholder="Adam Gelius" class="w-full border-0 border-b border-[#f1f1f1] focus:border-primary focus:outline-none py-4" />
                        </div>
                        <div class="mb-6">
                            <label for="email" class="block text-xs text-dark">Email*</label>
                            <input type="email" name="email" placeholder="example@yourmail.com" class="w-full border-0 border-b border-[#f1f1f1] focus:border-primary focus:outline-none py-4" />
                        </div>
                        <div class="mb-6">
                            <label for="phone" class="block text-xs text-dark">Phone*</label>
                            <input type="text" name="phone" placeholder="+885 1254 5211 552" class="w-full border-0 border-b border-[#f1f1f1] focus:border-primary focus:outline-none py-4" />
                        </div>
                        <div class="mb-6">
                            <label for="message" class="block text-xs text-dark">Message*</label>
                            <textarea name="message" rows="1" placeholder="type your message here" class="w-full border-0 border-b border-[#f1f1f1] focus:border-primary focus:outline-none py-4 resize-none"></textarea>
                        </div>
                        <div class="mb-0">
                            <button type="submit"
                                    class="inline-flex items-center justify-center py-4 px-6 rounded text-white bg-primary text-base font-medium hover:bg-dark transition duration-300 ease-in-out">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Contact End ====== -->
<!-- ====== Footer Section Start -->
<footer class="bg-dark pt-20 lg:pt-[120px] relative z-10 wow fadeInUp" data-wow-delay=".15s">
    <div class="container">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-4/12 xl:w-3/12 px-4">
                <div class="w-full mb-10">
                    <a href="javascript:void(0)" class="inline-block max-w-[160px] mb-6">
                        <div class="ballRotate">
                            <img img src="~/football1.png" alt="logo" class="max-w-full" />
                        </div>
                    </a>
                    <p class="text-base text-[#f3f4fe] mb-7">
                        We create digital experiences for brands and companies by using
                        technology.
                    </p>
                    <div class="flex items-center -mx-3">
                        <a href="javascript:void(0)"
                           class="px-3 text-[#dddddd] hover:text-white">
                            <svg width="10" height="18" viewBox="0 0 10 18" class="fill-current">
                                <path d="M9.00007 6.82105H7.50006H6.96434V6.27097V4.56571V4.01562H7.50006H8.62507C8.91971 4.01562 9.16078 3.79559 9.16078 3.46554V0.550085C9.16078 0.247538 8.9465 0 8.62507 0H6.66969C4.55361 0 3.08038 1.54024 3.08038 3.82309V6.21596V6.76605H2.54466H0.72322C0.348217 6.76605 0 7.06859 0 7.50866V9.48897C0 9.87402 0.294645 10.2316 0.72322 10.2316H2.49109H3.02681V10.7817V16.31C3.02681 16.6951 3.32145 17.0526 3.75003 17.0526H6.26791C6.42862 17.0526 6.56255 16.9701 6.66969 16.8601C6.77684 16.7501 6.8572 16.5576 6.8572 16.3925V10.8092V10.2591H7.4197H8.62507C8.97328 10.2591 9.24114 10.0391 9.29471 9.709V9.6815V9.65399L9.66972 7.7562C9.6965 7.56367 9.66972 7.34363 9.509 7.1236C9.45543 6.98608 9.21436 6.84856 9.00007 6.82105Z" />
                            </svg>
                        </a>
                        <a href="javascript:void(0)"
                           class="px-3 text-[#dddddd] hover:text-white">
                            <svg width="19" height="15" viewBox="0 0 19 15" class="fill-current">
                                <path d="M16.2622 3.17878L17.33 1.93293C17.6391 1.59551 17.7234 1.33595 17.7515 1.20618C16.9085 1.67337 16.1217 1.82911 15.6159 1.82911H15.4192L15.3068 1.72528C14.6324 1.18022 13.7894 0.894714 12.8902 0.894714C10.9233 0.894714 9.37779 2.40012 9.37779 4.13913C9.37779 4.24295 9.37779 4.39868 9.40589 4.5025L9.49019 5.02161L8.90009 4.99565C5.30334 4.89183 2.35288 2.03675 1.87518 1.5436C1.08839 2.84136 1.53799 4.08722 2.01568 4.86587L2.97107 6.31937L1.45369 5.54071C1.48179 6.63084 1.93138 7.48736 2.80247 8.11029L3.56116 8.62939L2.80247 8.9149C3.28017 10.2386 4.34795 10.7837 5.13474 10.9913L6.17443 11.2509L5.19094 11.8738C3.61736 12.912 1.65039 12.8342 0.779297 12.7563C2.54957 13.8983 4.65705 14.1579 6.11823 14.1579C7.21412 14.1579 8.02901 14.0541 8.2257 13.9762C16.0936 12.2631 16.4589 5.77431 16.4589 4.47655V4.29486L16.6275 4.19104C17.5829 3.36047 17.9763 2.91923 18.2011 2.65967C18.1168 2.68563 18.0044 2.73754 17.892 2.7635L16.2622 3.17878Z" />
                            </svg>
                        </a>
                        <a href="javascript:void(0)"
                           class="px-3 text-[#dddddd] hover:text-white">
                            <svg width="18" height="18" viewBox="0 0 18 18" class="fill-current">
                                <path d="M8.91688 12.4995C10.6918 12.4995 12.1306 11.0911 12.1306 9.35385C12.1306 7.61655 10.6918 6.20819 8.91688 6.20819C7.14197 6.20819 5.70312 7.61655 5.70312 9.35385C5.70312 11.0911 7.14197 12.4995 8.91688 12.4995Z" />
                                <path d="M12.4078 0.947388H5.37075C2.57257 0.947388 0.300781 3.17104 0.300781 5.90993V12.7436C0.300781 15.5367 2.57257 17.7604 5.37075 17.7604H12.3524C15.2059 17.7604 17.4777 15.5367 17.4777 12.7978V5.90993C17.4777 3.17104 15.2059 0.947388 12.4078 0.947388ZM8.91696 13.4758C6.56206 13.4758 4.70584 11.6047 4.70584 9.35389C4.70584 7.10312 6.58976 5.23199 8.91696 5.23199C11.2165 5.23199 13.1004 7.10312 13.1004 9.35389C13.1004 11.6047 11.2442 13.4758 8.91696 13.4758ZM14.735 5.61164C14.4579 5.90993 14.0423 6.07264 13.5714 6.07264C13.1558 6.07264 12.7402 5.90993 12.4078 5.61164C12.103 5.31334 11.9368 4.9337 11.9368 4.47269C11.9368 4.01169 12.103 3.65916 12.4078 3.33375C12.7125 3.00834 13.1004 2.84563 13.5714 2.84563C13.9869 2.84563 14.4302 3.00834 14.735 3.30663C15.012 3.65916 15.2059 4.06593 15.2059 4.49981C15.1782 4.9337 15.012 5.31334 14.735 5.61164Z" />
                                <path d="M13.5985 3.82184C13.2383 3.82184 12.9336 4.12013 12.9336 4.47266C12.9336 4.82519 13.2383 5.12349 13.5985 5.12349C13.9587 5.12349 14.2634 4.82519 14.2634 4.47266C14.2634 4.12013 13.9864 3.82184 13.5985 3.82184Z" />
                            </svg>
                        </a>
                        <a href="javascript:void(0)"
                           class="px-3 text-[#dddddd] hover:text-white">
                            <svg width="18" height="18" viewBox="0 0 18 18" class="fill-current">
                                <path d="M16.7821 0.947388H1.84847C1.14272 0.947388 0.578125 1.49747 0.578125 2.18508V16.7623C0.578125 17.4224 1.14272 18 1.84847 18H16.7257C17.4314 18 17.996 17.4499 17.996 16.7623V2.15757C18.0525 1.49747 17.4879 0.947388 16.7821 0.947388ZM5.7442 15.4421H3.17528V7.32837H5.7442V15.4421ZM4.44563 6.2007C3.59873 6.2007 2.94944 5.5406 2.94944 4.74297C2.94944 3.94535 3.62696 3.28525 4.44563 3.28525C5.26429 3.28525 5.94181 3.94535 5.94181 4.74297C5.94181 5.5406 5.32075 6.2007 4.44563 6.2007ZM15.4835 15.4421H12.9146V11.509C12.9146 10.5739 12.8864 9.33618 11.5596 9.33618C10.2045 9.33618 10.0069 10.3813 10.0069 11.4265V15.4421H7.438V7.32837H9.95046V8.45605H9.9787C10.3457 7.79594 11.1644 7.13584 12.4347 7.13584C15.0601 7.13584 15.54 8.7861 15.54 11.0414V15.4421H15.4835Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-2/12 xl:w-2/12 px-4">
                <div class="w-full mb-10">
                    <h4 class="text-white text-lg font-semibold mb-9">About Us</h4>
                    <ul>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                Features
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                Testimonial
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-3/12 xl:w-2/12 px-4">
                <div class="w-full mb-10">
                    <h4 class="text-white text-lg font-semibold mb-9">Features</h4>
                    <ul>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                How it works
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                Privacy policy
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                Terms of Service
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                Refund policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-3/12 xl:w-2/12 px-4">
                <div class="w-full mb-10">
                    <h4 class="text-white text-lg font-semibold mb-9">
                        Our Products
                    </h4>
                    <ul>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                LineIcons
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                Ecommerce HTML
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                Ayro UI
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="inline-block text-base text-[#f3f4fe] hover:text-primary leading-loose mb-2">
                                PlainAdmin
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full md:w-2/3 lg:w-6/12 xl:w-3/12 px-4">
                <div class="w-full mb-10">
                    <a href="javascript:void(0)"
                       class="inline-block max-w-[160px] mb-6">
                        <div class="ballRotate">
                            <img img src="~/football1.png"
                                 alt="logo"
                                 class="max-w-full" />
                        </div>
                    </a>
                    <p class="text-base text-[#f3f4fe] mb-7">
                        We create digital experiences for brands and companies by using
                        technology.
                    </p>
                    <div class="flex items-center -mx-3">
                        <a href="javascript:void(0)"
                           class="px-3 text-[#dddddd] hover:text-white">
                            <svg width="10" height="18" viewBox="0 0 10 18" class="fill-current">
                                <path d="M9.00007 6.82105H7.50006H6.96434V6.27097V4.56571V4.01562H7.50006H8.62507C8.91971 4.01562 9.16078 3.79559 9.16078 3.46554V0.550085C9.16078 0.247538 8.9465 0 8.62507 0H6.66969C4.55361 0 3.08038 1.54024 3.08038 3.82309V6.21596V6.76605H2.54466H0.72322C0.348217 6.76605 0 7.06859 0 7.50866V9.48897C0 9.87402 0.294645 10.2316 0.72322 10.2316H2.49109H3.02681V10.7817V16.31C3.02681 16.6951 3.32145 17.0526 3.75003 17.0526H6.26791C6.42862 17.0526 6.56255 16.9701 6.66969 16.8601C6.77684 16.7501 6.8572 16.5576 6.8572 16.3925V10.8092V10.2591H7.4197H8.62507C8.97328 10.2591 9.24114 10.0391 9.29471 9.709V9.6815V9.65399L9.66972 7.7562C9.6965 7.56367 9.66972 7.34363 9.509 7.1236C9.45543 6.98608 9.21436 6.84856 9.00007 6.82105Z" />
                            </svg>
                        </a>
                        <a href="javascript:void(0)"
                           class="px-3 text-[#dddddd] hover:text-white">
                            <svg width="19" height="15" viewBox="0 0 19 15" class="fill-current">
                                <path d="M16.2622 3.17878L17.33 1.93293C17.6391 1.59551 17.7234 1.33595 17.7515 1.20618C16.9085 1.67337 16.1217 1.82911 15.6159 1.82911H15.4192L15.3068 1.72528C14.6324 1.18022 13.7894 0.894714 12.8902 0.894714C10.9233 0.894714 9.37779 2.40012 9.37779 4.13913C9.37779 4.24295 9.37779 4.39868 9.40589 4.5025L9.49019 5.02161L8.90009 4.99565C5.30334 4.89183 2.35288 2.03675 1.87518 1.5436C1.08839 2.84136 1.53799 4.08722 2.01568 4.86587L2.97107 6.31937L1.45369 5.54071C1.48179 6.63084 1.93138 7.48736 2.80247 8.11029L3.56116 8.62939L2.80247 8.9149C3.28017 10.2386 4.34795 10.7837 5.13474 10.9913L6.17443 11.2509L5.19094 11.8738C3.61736 12.912 1.65039 12.8342 0.779297 12.7563C2.54957 13.8983 4.65705 14.1579 6.11823 14.1579C7.21412 14.1579 8.02901 14.0541 8.2257 13.9762C16.0936 12.2631 16.4589 5.77431 16.4589 4.47655V4.29486L16.6275 4.19104C17.5829 3.36047 17.9763 2.91923 18.2011 2.65967C18.1168 2.68563 18.0044 2.73754 17.892 2.7635L16.2622 3.17878Z" />
                            </svg>
                        </a>
                        <a href="javascript:void(0)"
                           class="px-3 text-[#dddddd] hover:text-white">
                            <svg width="18" height="18" viewBox="0 0 18 18" class="fill-current">
                                <path d="M8.91688 12.4995C10.6918 12.4995 12.1306 11.0911 12.1306 9.35385C12.1306 7.61655 10.6918 6.20819 8.91688 6.20819C7.14197 6.20819 5.70312 7.61655 5.70312 9.35385C5.70312 11.0911 7.14197 12.4995 8.91688 12.4995Z" />
                                <path d="M12.4078 0.947388H5.37075C2.57257 0.947388 0.300781 3.17104 0.300781 5.90993V12.7436C0.300781 15.5367 2.57257 17.7604 5.37075 17.7604H12.3524C15.2059 17.7604 17.4777 15.5367 17.4777 12.7978V5.90993C17.4777 3.17104 15.2059 0.947388 12.4078 0.947388ZM8.91696 13.4758C6.56206 13.4758 4.70584 11.6047 4.70584 9.35389C4.70584 7.10312 6.58976 5.23199 8.91696 5.23199C11.2165 5.23199 13.1004 7.10312 13.1004 9.35389C13.1004 11.6047 11.2442 13.4758 8.91696 13.4758ZM14.735 5.61164C14.4579 5.90993 14.0423 6.07264 13.5714 6.07264C13.1558 6.07264 12.7402 5.90993 12.4078 5.61164C12.103 5.31334 11.9368 4.9337 11.9368 4.47269C11.9368 4.01169 12.103 3.65916 12.4078 3.33375C12.7125 3.00834 13.1004 2.84563 13.5714 2.84563C13.9869 2.84563 14.4302 3.00834 14.735 3.30663C15.012 3.65916 15.2059 4.06593 15.2059 4.49981C15.1782 4.9337 15.012 5.31334 14.735 5.61164Z" />
                                <path d="M13.5985 3.82184C13.2383 3.82184 12.9336 4.12013 12.9336 4.47266C12.9336 4.82519 13.2383 5.12349 13.5985 5.12349C13.9587 5.12349 14.2634 4.82519 14.2634 4.47266C14.2634 4.12013 13.9864 3.82184 13.5985 3.82184Z" />
                            </svg>
                        </a>
                        <a href="javascript:void(0)"
                           class="px-3 text-[#dddddd] hover:text-white">
                            <svg width="18" height="18" viewBox="0 0 18 18" class="fill-current">
                                <path d="M16.7821 0.947388H1.84847C1.14272 0.947388 0.578125 1.49747 0.578125 2.18508V16.7623C0.578125 17.4224 1.14272 18 1.84847 18H16.7257C17.4314 18 17.996 17.4499 17.996 16.7623V2.15757C18.0525 1.49747 17.4879 0.947388 16.7821 0.947388ZM5.7442 15.4421H3.17528V7.32837H5.7442V15.4421ZM4.44563 6.2007C3.59873 6.2007 2.94944 5.5406 2.94944 4.74297C2.94944 3.94535 3.62696 3.28525 4.44563 3.28525C5.26429 3.28525 5.94181 3.94535 5.94181 4.74297C5.94181 5.5406 5.32075 6.2007 4.44563 6.2007ZM15.4835 15.4421H12.9146V11.509C12.9146 10.5739 12.8864 9.33618 11.5596 9.33618C10.2045 9.33618 10.0069 10.3813 10.0069 11.4265V15.4421H7.438V7.32837H9.95046V8.45605H9.9787C10.3457 7.79594 11.1644 7.13584 12.4347 7.13584C15.0601 7.13584 15.54 8.7861 15.54 11.0414V15.4421H15.4835Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" py-8 mt-12 lg:mt-[60px]">
        <div class="container">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-2/3 lg:w-1/2 px-4">
                    <div class="my-1">
                        <div class="flex items-center justify-center md:justify-start -mx-3 ">
                            <a href="javascript:void(0)"
                               class="text-base text-[#f3f4fe] hover:text-primary px-3">
                                Privacy policy
                            </a>
                            <a href="javascript:void(0)"
                               class="text-base text-[#f3f4fe] hover:text-primary px-3">
                                Legal notice
                            </a>
                            <a href="javascript:void(0)"
                               class="text-base text-[#f3f4fe] hover:text-primary px-3">
                                Terms of service
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/3 lg:w-1/2 px-4">
                    <div class="flex justify-center md:justify-end my-1">
                        <p class="text-base text-[#f3f4fe]">
                            Designed and Developed by <strong>KeeN</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ====== Footer Section End -->
