﻿@{
    ViewData["Title"] = "Privacy Policy";
}



<div id="home">
    <div class="container">
        <div class="flex flex-wrap items-center -mx-4">
            <div class="HeadlineContent">
                <div class="w-full px-4">
                    <div class="hero-content text-center max-w-[780px] mx-auto wow fadeInUp " data-wow-delay=".2s">
                        <h1 class="text-white font-bold text-3xl sm:text-4xl md:text-[45px] leading-snug sm:leading-snug md:leading-snug mb-8 ">
                            Privacy Policy
                        </h1>

                        <p class="text-lg sm:text-xl leading-relaxed sm:leading-relaxed text-body-color text-white">

                            Data protection is of a particularly high priority for the management of the PVcase. The use of the Internet pages of the PVcase is possible without any indication of personal data; however, if a data subject wants to use special enterprise services via our website, processing of personal data could become necessary. If the processing of personal data is necessary and there is no statutory basis for such processing, we generally obtain consent from the data subject.

                            The processing of personal data, such as the name, address, e-mail address, or telephone number of a data subject shall always be in line with the General Data Protection Regulation (GDPR), and in accordance with the country-specific data protection regulations applicable to the PVcase. By means of this data protection declaration, our enterprise would like to inform the general public of the nature, scope, and purpose of the personal data we collect, use and process. Furthermore, data subjects are informed, by means of this data protection declaration, of the rights to which they are entitled.

                            As the controller, the PVcase has implemented numerous technical and organizational measures to ensure the most complete protection of personal data processed through this website. However, Internet-based data transmissions may in principle have security gaps, so absolute protection may not be guaranteed. For this reason, every data subject is free to transfer personal data to us via alternative means, e.g. by telephone.

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>