﻿@using ScoutSluzba.Web.ViewModels
@model ScoutSluzba.Web.ViewModels.GradDodajVM

@{
    ViewData["Title"] = "Dodaj";
}


<div class="content-wrapper p-4">
    <h1 class="text-center"> Add City: </h1>

    <form asp-action="Snimi">
        <input asp-for="GradID" hidden />

        <div class="form-group">

            <div>
                @Html.HiddenFor(s => s.GradID)
            </div>

            <div class="form-group">
                <label>Name: </label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Country Code: </label>
                <input asp-for="PostanskiBr" class="form-control" />
                <span asp-validation-for="PostanskiBr" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label>Country: </label>
                <select asp-for="DrzavaID" asp-items="Model.Drzava" class="form-control"></select>
                <span asp-validation-for="DrzavaID" class="text-danger"></span>
            </div>

            <a asp-action="Index" asp-controller="Grad" asp-area="Scout" class="btn btn-outline-info btn-lg"> Back </a>

            <input type="submit" class="btn btn-outline-success btn-lg" value="Save" />
        </div>
    </form>
</div>
