﻿@model ScoutSluzba.Web.ViewModels.GradUrediVM
@using ScoutSluzba.Web.ViewModels;
@using ScoutSluzba.Data.EntityModels;


@{
    ViewData["Title"] = "Uredi";
}



<div class="content-wrapper p-4">
    <h1 class="display-4">Details City</h1>

    <form asp-action="Snimi">
        <input asp-for="GradID" hidden />

        <div class="form-group">

            <div class="form-group">
                <label>Name</label>
                <input asp-for="Naziv" class="form-control" readonly />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Country Code</label>
                <input asp-for="PostanskiBr" class="form-control" readonly />
                <span asp-validation-for="PostanskiBr" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label>Country </label>
                <input asp-for="Drzava" class="form-control" readonly />
                <span asp-validation-for="Drzava" class="text-danger"></span>
            </div>

            <a asp-action="Index" asp-controller="Grad" asp-area="Scout" class="btn btn-outline-info btn-lg"> Back </a>

          @*  <input type="submit" class="btn btn-success btn-lg" value="Snimi" />*@

        </div>
    </form>
</div>

