﻿@using ScoutSluzba.Web.ViewModels
@model ScoutSluzba.Web.ViewModels.LokacijaDodajVM

@{
    ViewData["Title"] = "Dodaj";
}


<div class="content-wrapper p-4">
    <h1 class="text-center"> Add Location: </h1>

    <form asp-action="Snimi">
        <input asp-for="LokacijaID" hidden />

        <div class="form-group">

            <div>
                @Html.HiddenFor(s => s.LokacijaID)
            </div>

            <div class="form-group">
                <label>Name: </label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Street: </label>
                <input asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Adress: </label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>City: </label>
                <select asp-for="GradID" asp-items="Model.Grad" class="form-control"></select>
                <span asp-validation-for="GradID" class="text-danger"></span>
            </div>


            <a asp-action="Index" asp-controller="Lokacija" asp-area="Scout" class="btn btn-outline-info btn-lg"> Back </a>

            <input type="submit" class="btn btn-outline-success btn-lg" value="Save" />
        </div>
    </form>
</div>

