﻿@model ScoutSluzba.Web.ViewModels.LokacijaUrediVM
@using ScoutSluzba.Web.ViewModels;
@using ScoutSluzba.Data.EntityModels;


@{
    ViewData["Title"] = "Uredi";
}

<div class="content-wrapper p-4">
    <h1 class="display-4">Details Location</h1>

    <form asp-action="Snimi">
        <input asp-for="LokacijaID" hidden />

        <div class="form-group">

            <div class="form-group">
                <label>Name</label>
                <input asp-for="Naziv" class="form-control" readonly />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Street</label>
                <input asp-for="Ulica" class="form-control" readonly />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Adress</label>
                <input asp-for="Adresa" class="form-control" readonly />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>City </label>
                <input asp-for="Grad" class="form-control" readonly />
                <span asp-validation-for="Grad" class="text-danger"></span>

            </div>

            <a asp-action="Index" asp-controller="Lokacija" asp-area="Scout" class="btn btn-outline-info btn-lg"> Back </a>

          @*  <input type="submit" class="btn btn-success btn-lg" value="Save" />*@

        </div>
    </form>
</div>
