﻿@using ScoutSluzba.Web.ViewModels

@{
    ViewData["Title"] = "Index";
}


<h1 class="display-4">Employees:</h1>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Sex</th>
            <th>Phone Number</th>
            <th>City</th>
           @* <th>Korisnicki nalog</th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td>@x.Ime</td>
                <td>@x.Prezime</td>
                <td>@x.Email</td>
                <td>@x.Datum_rodjenja</td>
                <td>@x.Spol</td>
                <td>@x.Kontakt_br</td>
                <td>@x.Grad</td>
                @*<td>@x.KorisnickiNalog</td>*@
                <td>
                    <a asp-action="Obrisi" asp-controller="Zaposlenik" asp-area="AdminModul" asp-route-id="@x.ZaposlenikID" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>

                    <a asp-action="Uredi" asp-controller="Zaposlenik" asp-area="AdminModul" asp-route-id="@x.ZaposlenikID" class="btn btn-outline-primary btn-sm"><i class="fa fa-pen"></i></a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Dodaj" asp-controller="Zaposlenik" asp-area="AdminModul" class="btn btn-outline-success btn-lg"> Add Employee  </a>

