﻿@model ScoutSluzba.Web.ViewModels.AdminZaposlenikUrediVM
@using ScoutSluzba.Web.ViewModels;
@using ScoutSluzba.Data.EntityModels;

@{
    ViewData["Title"] = "Uredi";
}


<div class="content-wrapper p-4">
    <h1 class="display-4">Modify Employee</h1>

    <form asp-action="Snimi">
        <input asp-for="ZaposlenikID" hidden />

        <div class="form-group">

            <div class="form-group">
                <label>Name</label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Surname</label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label>Phone Number</label>
                <input asp-for="Kontakt_br" class="form-control" />
                <span asp-validation-for="Kontakt_br" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label>Date of Birth</label>
                <input asp-for="Datum_rodjenja" class="form-control" />
                <span asp-validation-for="Datum_rodjenja" class="text-danger"></span>

            </div>


            <div class="form-group">
                <label>City </label>
                <select asp-for="GradID" asp-items="Model.Grad" class="form-control"></select>
                <span asp-validation-for="GradID" class="text-danger"></span>

            </div>


            <div class="form-group">
                <label>Type of Employee </label>
                <select asp-for="TipZaposlenikaID" asp-items="Model.TipZaposlenika" class="form-control"></select>
                <span asp-validation-for="TipZaposlenikaID" class="text-danger"></span>

            </div>

            <a asp-action="Index" asp-controller="Zaposlenik" asp-area="AdminModul" class="btn btn-outline-info btn-lg"> Back  </a>

            <input type="submit" class="btn btn-success btn-lg" value="Save" />
        </div>
    </form>
</div>