﻿@using ScoutSluzba.Web.ViewModels
@model ScoutSluzba.Web.ViewModels.KategorijaDodajVM

@{
    ViewData["Title"] = "Dodaj";
}

<div class="content-wrapper p-4">
    <h1 class="text-center"> Add Categorty: </h1>

    <form asp-action="Snimi">
        <input asp-for="KategorijaID" hidden />

        <div class="form-group">

            <div>
                @Html.HiddenFor(s => s.KategorijaID)
            </div>

            <div class="form-group">
                <label>Mark: </label>
                <input asp-for="Oznaka" class="form-control" />
                <span asp-validation-for="Oznaka" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Position: </label>
                <input asp-for="Pozicija" class="form-control" />
                <span asp-validation-for="Pozicija" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Description: </label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Age: </label>
                <input asp-for="Dob" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>


            <a asp-action="Index" asp-controller="Kategorija" asp-area="AdminModul" class="btn btn-outline-info btn-lg"> Back </a>
            <input type="submit" class="btn btn-outline-success btn-lg" value="Save" />
        </div>
    </form>
</div>

