﻿@using ScoutSluzba.Web.ViewModels

@{
    string error_poruka = (string)TempData["error_poruka"];
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Mark</th>
            <th>Position</th>
            <th>Description</th>
            <th>Age</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td>@x.Oznaka</td>
                <td>@x.Pozicija</td>
                <td>@x.Opis</td>
                <td>@x.Dob</td>
                <td>
                    <a asp-action="Obrisi" asp-controller="Kategorija" asp-area="AdminModul" asp-route-id="@x.KategorijaID" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
                </td>
            </tr>

        }
    </tbody>
</table>

<a asp-action="Dodaj" asp-controller="Kategorija" asp-area="AdminModul" class="btn btn-outline-success btn-lg"> Add Categorty </a>

@if (error_poruka != null)
{
    <br />
    <div class="alert alert-danger" role="alert">
        <strong>@error_poruka</strong>
    </div>
}