﻿@using ScoutSluzba.Web.ViewModels

@{
    ViewData["Title"] = "Index";
}

<h1>Teams</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Slika </th>
            <th>Name</th>
            <th>Trainer</th>
            <th>Stadium</th>
            <th>Manager</th>
            <th>Chief</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td><img src="~/Slike/@x.Slika" width="75" height="75" class="img rounded-circle"/></td>

                <td>@x.Naziv</td>
                <td>@x.Trener</td>
                <td>@x.Stadion</td>
                <td>@x.Manager</td>
                <td>@x.Predsjednik</td>
                <td>@x.Lokacija</td>
                <td>
                    <a asp-action="Obrisi" asp-controller="Timovi" asp-area="AdminModul" asp-route-id="@x.TimID" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>

                    <a asp-action="Info" asp-controller="Timovi" asp-area="AdminModul" asp-route-id="@x.TimID" class="btn btn-outline-primary btn-sm"><i class="fa fa-pen"></i></a>

                </td>
            </tr>

        }
    </tbody>
</table>

<a asp-action="Dodaj" asp-controller="Timovi" asp-area="AdminModul" class="btn btn-outline-success btn-lg"> Add Team </a>
