﻿@using Microsoft.AspNetCore.Http
@using ScoutSluzba.Data.EntityModels
@using Prodaja_Softvera_ver3.Web.Helper
@{
    KorisnickiNalog user = Context.GetLogiraniKorisnik();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScoutSluzba.Web</title>
    <link href="~/Template/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="page-top">
    <div class="has-bg-img">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">

                <div class="container justify-content-center">
                    <div class="ballRotate">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/football1.png" alt="ball" width="80" height="80"></a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    @if (user?.TipKorisnickogNaloga == "Administartor")
                        {
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="nav nav-pills nav-fill">
                                    <li class="nav-item">
                                        <a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="AdminModul" asp-controller="Igraci" asp-action="Index">Admin</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark rounded-circle bg-light">@user?.KorisnickoIme</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        else if (user?.TipKorisnickogNaloga == "Zaposlenik")
                        {
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="nav nav-pills nav-fill">
                                    <li class="nav-item">
                                        <a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="Scout" asp-controller="Drzava" asp-action="Index">Scout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark rounded-circle bg-light" >@user?.KorisnickoIme</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        else if (user == null)
                        {
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="nav nav-pills nav-fill">
                                    <li class="nav-item">
                                        <a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                </ul>
                            </div>
                        }



                </div>
            </nav>
        </header>

        <div @*class="container"*@>
            <main role="main" @*class="pb-3"*@>
                @RenderBody()

            </main>
        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i>▲</i>
        </a>

        <footer class="border-top footer text-muted bg-dark">
            @*<div class="container">
                    &copy; 2021 - ScoutSluzba.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>*@





            <div class="container">
                <footer class="py-5">
                    <div class="row">
                        <div class="col-2">
                            <h5>Section</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                            </ul>
                        </div>

                        <div class="col-2">
                            <h5>Section</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                            </ul>
                        </div>

                        <div class="col-2">
                            <h5>Section</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                            </ul>
                        </div>

                        <div class="col-6">
                            <form>
                                <h5>Subscribe to our newsletter</h5>
                                <br />
                                <p>Monthly digest of whats new and exciting from us.</p>
                                <br />
                                <div class="footerInput">
                                    <div class="d-flex w-100 gap-2">
                                        <input id="newsletter1" type="text" class="form-control"
                                               placeholder="Email address">
                                        <button class="btn btn-primary" type="button">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center py-4 my-4 border-top">
                        <p>&copy; 2021 Company, Inc. All rights reserved.</p>
                        <ul class="list-unstyled d-flex">
                            <li class="ms-3"><a class="link-primary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter" /></svg></a></li>
                            <li class="ms-3"><a class="link-primary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram" /></svg></a></li>
                            <li class="ms-3"><a class="link-primary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook" /></svg></a></li>
                        </ul>
                    </div>
                </footer>
            </div>



        </footer>
        <script src="~/Template/vendor/jquery/jquery.min.js"></script>
        <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Template/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->

        <script src="~/Template/js/sb-admin-2.min.js"></script>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
