﻿@using ScoutSluzba.Web.ViewModels

@{
    ViewData["Title"] = "Index";
}

<h1>Specification</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Score Number</th>
            <th>Corner Number</th>
            <th>Free kick Number</th>
            <th>Offsides Number</th>
            <th>Red Card</th>
            <th>Yellow Card</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
        <tr>
            <td>@x.BrojPogodaka</td>
            <td>@x.BrojKornera</td>
            <td>@x.BrojSlobodnih</td>
            <td>@x.BrOffside</td>
            <td>@x.CrveniKarton</td>
            <td>@x.ZutiKarton</td>
            <td>
                <a asp-action="Obrisi" asp-controller="Specifikacija" asp-area="AdminModul" asp-route-id="@x.SpecifikacijaID" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
            </td>
        </tr>

        }
    </tbody>
</table>

<a asp-action="Dodaj" asp-controller="Specifikacija" asp-area="AdminModul" class="btn btn-outline-success btn-lg"> Add Specification </a>

