﻿@using ScoutSluzba.Web.ViewModels
@model ScoutSluzba.Web.ViewModels.IgracDodajVM

@{
    ViewData["Title"] = "Dodaj";
}



<div class="content-wrapper p-4">
    <h1 class="text-center"> Add Player: </h1>

    <form asp-action="Snimi">
        <input asp-for="IgracID" hidden />

        <div class="form-group">

            <div>
                @Html.HiddenFor(s => s.IgracID)
            </div>

            <div class="form-group">
                <label>Name: </label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Surname: </label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Height: </label>
                <input asp-for="Visina" class="form-control" />
                <span asp-validation-for="Visina" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Weight: </label>
                <input asp-for="Tezina" class="form-control" />
                <span asp-validation-for="Tezina" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Date of Birth: </label>
                <input asp-for="DatumRodjenja" class="form-control" />
                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>City: </label>
                <select asp-for="GradID" asp-items="Model.Grad" class="form-control"></select>
                <span asp-validation-for="GradID" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label>Team: </label>
                <select asp-for="TeamID" asp-items="Model.Team" class="form-control"></select>
                <span asp-validation-for="TeamID" class="text-danger"></span>
            </div>

            <a asp-action="Index" asp-controller="Igraci" asp-area="AdminModul" class="btn btn-outline-info btn-lg"> Back </a>
            <input type="submit" class="btn btn-outline-success btn-lg" value="Save" />
        </div>
    </form>
</div>