﻿@using ScoutSluzba.Web.ViewModels

@{
    ViewData["Title"] = "Index";
    string error_poruka = (string)TempData["error_poruka"];
    //IgracIndexVM ulazniModel = (IgracIndexVM)ViewData["ulazniModel"];
}

<h1>Players</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Slika</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Date of birth</th>
            <th>City</th>
            <th>Team</th>
            <th>Average</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.igraci)
        {
        <tr>
            <td><img src="~/Slike/@x.Slike" width="95" height="95" class="img rounded-circle" /></td>
            <td>@x.Ime</td>
            <td>@x.Prezime</td>
            <td>@x.Visina</td>
            <td>@x.Tezina</td>
            <td>@x.DatumRodjenja</td>
            <td>@x.Grad</td>
            <td>@x.Team</td>
            <td>@x.Prosjek</td>
            <td>
                <a asp-action="Obrisi" asp-controller="Igraci" asp-area="AdminModul" asp-route-id="@x.IgracID" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>

                <a asp-action="Info" asp-controller="Igraci" asp-area="AdminModul" asp-route-id="@x.IgracID" class="btn btn-outline-info btn-sm"><i class="fa fa-info-circle"></i></a>

                <a asp-action="Uredi" asp-controller="Igraci" asp-area="AdminModul" asp-route-id="@x.IgracID" class="btn btn-outline-primary btn-sm"><i class="fa fa-pen"></i></a>

            </td>
        </tr>

        }
    </tbody>
</table>

<a   asp-action="Dodaj" asp-controller="Igraci" asp-area="AdminModul" class="btn btn-outline-success btn-lg"> Add Player </a>
