﻿@model ScoutSluzba.Web.ViewModels.IgracUrediVM
@using ScoutSluzba.Web.ViewModels;
@using ScoutSluzba.Data.EntityModels;


@{
    ViewData["Title"] = "Uredi";
}



<div class="content-wrapper p-4">
    <h1 class="display-4">Edit Player</h1>

    <form asp-action="Snimi">
        <input asp-for="IgracID" hidden />

        <div class="form-group">

            <div class="form-group">
                <label>Name</label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Surname</label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Height</label>
                <input asp-for="Visina" class="form-control" />
                <span asp-validation-for="Visina" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label>Weight</label>
                <input asp-for="Tezina" class="form-control" />
                <span asp-validation-for="Tezina" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label>Date of Birth</label>
                <input asp-for="Datum_rodjenja" class="form-control" />
                <span asp-validation-for="Datum_rodjenja" class="text-danger"></span>

            </div>

            @*kategorija------------------------------------------------------------*@
            <hr>
            <h2 class="display-6"> Category</h2>
            <hr>
            <div class="form-group">
                <label>Mark</label>
                <input asp-for="Oznaka" class="form-control" />
                <span asp-validation-for="Oznaka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Postion</label>
                <input asp-for="Pozicija" class="form-control" />
                <span asp-validation-for="Pozicija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Age</label>
                <input asp-for="Dob" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>

            @*kategorija------------------------------------------------------------*@



            @*Specifikacija------------------------------------------------------------*@
            <hr>
            <h2 class="display-6"> Specification</h2>
            <hr>

            <div class="form-group">
                <label>Score Number</label>
                <input asp-for="BrojPogodaka" class="form-control" />
                <span asp-validation-for="BrojPogodaka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Corner Number</label>
                <input asp-for="BrojKornera" class="form-control" />
                <span asp-validation-for="BrojKornera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Free kick Number</label>
                <input asp-for="BrojSlobodnih" class="form-control" />
                <span asp-validation-for="BrojSlobodnih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Offsides Number</label>
                <input asp-for="BrOffside" class="form-control" />
                <span asp-validation-for="BrOffside" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Red Card</label>
                <input asp-for="CrveniKarton" class="form-control" />
                <span asp-validation-for="CrveniKarton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Yellow Card</label>
                <input asp-for="ZutiKarton" class="form-control" />
                <span asp-validation-for="ZutiKarton" class="text-danger"></span>
            </div>
            @*Specifikacija------------------------------------------------------------*@


            <div class="form-group">
                <label>City </label>
                <select asp-for="GradID" asp-items="Model.Grad" class="form-control"></select>
                <span asp-validation-for="GradID" class="text-danger"></span>

            </div>


            <div class="form-group">
                <label>Team </label>
                <select asp-for="TeamID" asp-items="Model.Team" class="form-control"></select>
                <span asp-validation-for="TeamID" class="text-danger"></span>

            </div>

            <a asp-action="Index" asp-controller="Igraci" asp-area="AdminModul" class="btn btn-outline-info btn-lg"> Back </a>


            <input type="submit" class="btn btn-success btn-lg" value="Snimi" />

        </div>
    </form>
</div>