﻿@using ScoutSluzba.Web.ViewModels
@model ScoutSluzba.Web.ViewModels.LigaDodajVM

@{
    ViewData["Title"] = "Dodaj";
}


<div class="content-wrapper p-4">
    <h1 class="text-center"> Add League: </h1>

    <form asp-action="Snimi">
        <input asp-for="LigaID" hidden />

        <div class="form-group">

            <div>
                @Html.HiddenFor(s => s.LigaID)
            </div>

            <div class="form-group">
                <label>Name: </label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Champion: </label>
                <input asp-for="Sampion" class="form-control" />
                <span asp-validation-for="Sampion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Team Number: </label>
                <input asp-for="BrTimova" class="form-control" />
                <span asp-validation-for="BrTimova" class="text-danger"></span>
            </div>

            <a asp-action="Index" asp-controller="Liga" asp-area="AdminModul" class="btn btn-outline-info btn-lg"> Back </a>
            <input type="submit" class="btn btn-outline-success btn-lg" value="Save" />
        </div>
    </form>
</div>

