﻿@using ScoutSluzba.Web.ViewModels

@{
    ViewData["Title"] = "Index";
}

<h1>League</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Champion</th>
            <th>Team Number</th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td>@x.Naziv</td>
                <td>@x.Sampion</td>
                <td>@x.BrTimova</td>
                <td>
                    <a asp-action="Obrisi" asp-controller="Liga" asp-area="AdminModul" asp-route-id="@x.LigaID" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
                   
                    <a asp-action="Uredi" asp-controller="Liga" asp-area="AdminModul" asp-route-id="@x.LigaID" class="btn btn-outline-primary btn-sm"><i class="fa fa-pen"></i></a>
                </td>
            </tr>

        }
    </tbody>
</table>
<a asp-action="Dodaj" asp-controller="Liga" asp-area="AdminModul" class="btn btn-outline-success btn-lg"> Add Grade and Comment </a>
