﻿@using ScoutSluzba.Web.ViewModels

@model ScoutSluzba.Web.Areas.AdminModul.ViewModels.AdminOptionsVM
@{
    ViewData["Title"] = "Index";
}

@*<h1>Options</h1>*@


<div class="content-wrapper p-4">
    <h1 class="text-center"> User Profile: </h1> <br />

    <form asp-action="Snimi">
        <input asp-for="ZaposlenikID" hidden />

        <div class="form-group">

            <div>
                @Html.HiddenFor(s => s.ZaposlenikID)
            </div>

            <div class="form-group">
                <label>Name: </label>
                <input asp-for="Ime" class="form-control" readonly />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Surname: </label>
                <input asp-for="Prezime" class="form-control" readonly />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Email: </label>
                <input asp-for="Mail" class="form-control" readonly />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Phone Number: </label>
                <input asp-for="Kontakt_br" class="form-control" readonly />
                <span asp-validation-for="Kontakt_br" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>Date of Birth: </label>
                <input asp-for="Datum_rodjenja" class="form-control" readonly />
                <span asp-validation-for="Datum_rodjenja" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>Sex: </label>
                <input asp-for="Spol" class="form-control" readonly />
                <span asp-validation-for="Spol" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>City: </label>
                <input asp-for="Grad" class="form-control" readonly />
                <span asp-validation-for="Grad" class="text-danger"></span>
            </div>

            <a asp-action="Uredi" asp-controller="AdminOptions" asp-area="AdminModul" asp-route-id="@Model.ZaposlenikID" class="btn btn-outline-info btn-lg"> Edit Profile </a>

        </div>
    </form>
</div>